/Laboratorio3/build/
/Laboratorio5/build/
/Laboratorio6/target/
/Laboratorio7/target/
/Laboratorio8/nbproject/private/
/Laboratorio8/build/
/Laboratorio9/nbproject/private/
/Laboratorio9/build/
/Laboratorio9/dist/
/Laboratorio10/nbproject/private/
/Laboratorio10/build/
/Simulador_Grupo_1/nbproject/private/
